<div style="text-align:center ;font-weight: bold ;
text-transform: capitalize; font-stretch: normal;">
        <h1>
            Welcome to commande application
        </h1>
        <div class="alert alert-success  col-lg-offset-3" role="alert">
                <h4 class="alert-heading ">Well done!</h4>
                <p>Aww yeah, you successfully read this important alert message. 
                    This example text is going to run a bit longer so that you 
                    can see how spacing within an alert works with this kind of content.</p>
                <hr>
              </div>
    </div>