<div class="container col-lg-offset-2">

    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend>Ajouter Client !</legend>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">nom</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="nom" placeholder="nom" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >prenom</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="prenom" placeholder="prenom" class="form-control"  type="text">
    </div>
  </div>
</div>


<!-- Text input-->
 
<div class="form-group">
    <label class="col-md-4 control-label">Age</label>  
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
    <input name="age" placeholder="age" class="form-control"  type="text">
      </div>
    </div>
  </div>

<!-- Text input-->
       
<div class="form-group">
  <label class="col-md-4 control-label">telephone </label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="telephone" placeholder="(212)***-****" class="form-control" type="text">
    </div>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
      <button type="button" class="btn btn-primary"> Ajouter</button>
  </div>
</div>

</fieldset>
</form>

    </div><!-- /.container -->