<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Modal for Commander-->
<div class="modal fade " style="padding-top: 4%"  id="commander" tabindex="-1" 
role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style=" font-weight: bold ;
        text-transform: capitalize; font-stretch: normal;" id="exampleModalLabel">Ajouter une commande</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
              <label for="Selectproduit">sélectionner votre produit </label>
              <select class="form-control form-control-lg" id="produit">
                  <option>Large select</option>
                  <option>Large select</option>
                  <option>Large select</option>
                </select>
          <div class="form-group">
            <label for="qte">Quantite produit</label>
            <input type="email" class="form-control" id="Qte" >
          </div>
          <button type="button" class="btn btn-secondary btn-outline-secondary btn-sm pull-right"
           style="font-weight: 200 ;">Ajouter un autre produit</button>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Modifier-->
<div class="modal fade" style="padding-top: 7%" id="modifier" tabindex="-1" 
role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style=" font-weight: bold ;
          text-transform: capitalize; font-stretch: normal;">modifier ulilisateur</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-left ">
          <form>
            <div class="form-group ">
              <label for="nom">saisir votre nom</label>
              <input type="text" class="form-control" id="nom" >
            </div>
            <div class="form-group  ">
                <label for="prenom">saisir votre prenom</label>
                <input type="text" class="form-control" id="prenom" >
              </div>
              <div class="form-group">
                  <label for="age">saisir votre age</label>
                  <input type="text" class="form-control" id="age" >
                </div>
                <div class="form-group">
                    <label for="telephone">saisir votre Telephone</label>
                    <input type="text" class="form-control" id="telephone" >
                  </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  

<!-- Modal for supprimer-->
<div class="modal fade" style="padding-top: 4%" id="supprimer" tabindex="-1" 
role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style=" font-weight: bold ;
          text-transform: capitalize; font-stretch: normal;"
            id="exampleModalLabel">supprimer ulilisateur</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="alert alert-danger" role="alert">
            "Voulez-vous vraiment supprimer cet utilisateur?!
          </div>        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn  btn-danger">oui ! supprimer</button>
        </div>
      </div>
    </div>
  </div>
  
<div class="container col-lg-offset-2 "
style="position: relative; min-width: 1024px; min-height: 
768px; height: 100%;">
  <div class="jumbotron">
      <div class="card">
          <div class="card-header " style=" font-weight: bold ;
          text-transform: capitalize; font-stretch: normal;">
            la liste des clients   
               </div>
          <div class="card-body" 
           style=" min-height: 
           768px; height: 100%; position:relative;">

            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Prenom</th>
                  <th scope="col">Age</th>
                  <th scope="col">Telephone</th>
                  <th class="text-center" scope="col" >Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Otto</td>
                  <td >
                    <button class="btn btn-primary badge-pill " data-toggle="modal" data-target="#commander" style="width: 100px;"  >Commander</button>
                    <button class="btn btn-secondary badge-pill " data-toggle="modal" data-target="#modifier"style="width: 100px;">Modifier</button>
                    <button class="btn btn-danger badge-pill" data-toggle="modal" data-target="#supprimer" style="width:100px;">Supprimer</button>

                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Otto</td>
                  <td >
                      <button class="btn btn-primary badge-pill " data-toggle="modal" data-target="#commander" style="width: 100px;"  >Commander</button>
                      <button class="btn btn-secondary badge-pill " data-toggle="modal" data-target="#modifier"style="width: 100px;">Modifier</button>
                      <button class="btn btn-danger badge-pill" data-toggle="modal" data-target="#supprimer" style="width:100px;">Supprimer</button>
  
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  </div>
</div>

