<div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Erreur 404!</h4>
  <p class="mb-0">Ops , There's a Problem 
      <a routerLink="/home" 
      class="alert-link">Commande application</a></p>
</div>